@{
    ViewData["Title"] = "Admin";
}

<div class="titleBar">
    <div class="shade"></div>
    <div class="row ">
        <div class=" col-12 ">
            @ViewData["Title"]
        </div>
    </div>
</div>