@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h2 class="text-center mt-5 my-4">@ViewData["Title"].ToString().ToUpper()</h2>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p class="text-center">
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
