@{
    ViewData["Title"] = "Home";
}
@section headContent{
    <style>
        .landing {
            background-color: rgba(0, 0, 0, 0);
            background-repeat: no-repeat;
            background-image: url(../images/bg-landing.jpg);
            background-size: cover;
            background-position: center center;
            width: 100%;
            min-height: 100vh;
            max-height: 100vh;
            opacity: 1;
            display: flex;
            flex-direction: column;
        }
    </style>
}

<div class="my-auto">
    <div class="row ">
        <div class=" col-xl-9 ">
            <div class="sideline"></div>
            <div class="content">
                <span>100% <b>Organic</b></span>
                <h1>FRESH PRODUCTS</h1>
                <p>
                    We specialize in importing &amp; exporting specialty foods from
                    around the world. <br />We've been serving customers since 2009,
                    Let us serve to today.
                </p>
                <a href="#" class="btn btn-lg mt-3">VIEW INVENTORY</a>
            </div>
        </div>
    </div>
</div>