@{
    ViewData["Title"] = "Home";
}
@section HeadContent{
    <style>
        body {
            background-color: rgba(0, 0, 0, 0);
            background-repeat: no-repeat;
            background-image: url(../images/bg-landing.jpg);
            background-size: cover;
            background-position: center center;
            width: 100%;
        }
    </style>
}

<div class="landing container-fluid">
    <div class="row">
        <div class=" col-xl-12 ">
            <div class="sideline"></div>
            <div class="content">
                <span>100% <b>Organic</b></span>
                <h1>FRESH PRODUCTS</h1>
                <p>
                    We specialize in importing &amp; exporting specialty foods from
                    around the world. <br />We've been serving customers since 2009,
                    Let us serve you today.
                </p>
                <a class="btn btn-lg mt-3" asp-controller="Products" asp-action="Index">VIEW INVENTORY</a>
            </div>
        </div>
    </div>
</div>