@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-text ml-auto">
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index" title="Admin">ADMIN</a>
    </div>
    <div class="navbar-text">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">LOGOUT</button>
        </form>
    </div>
}
else
{
    <div class="navbar-text ml-auto">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
    </div>
    <div class="navbar-text">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
    </div>
}
